body{
    background-color: peru;
}

h1{
    color: aqua;
}

.form,
.greeting{
    display: none;
}

.showing{
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: fadeIn 2s linear;
}